<div class="beian-info" style="text-align: center; font-size: 13px; margin-top: 15px; color: #828282;">
  <a href="https://beian.miit.gov.cn/" target="_blank" style="color: inherit;">{{ site.beian_icp }}</a>
  <span style="margin: 0 10px;">|</span>
  <img src="{{ '/assets/images/beian.png' | relative_url }}" style="width: 14px; vertical-align: middle;">
  <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode={{ site.beian_ga_id }}" target="_blank" style="color: inherit;">{{ site.beian_ga }}</a>
</div>
